<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>Geet</title>
        <link rel="stylesheet" href="{% static 'Geet/base.css' %}"> 
       <link rel="stylesheet" href="{% static 'Geet/styles.css' %}"> 
       <link rel="stylesheet" href="{% static 'Geet/startlistening.css' %}"> 
       <link rel="stylesheet" href="{% static 'Geet/upload.css' %}"> 
       <link rel="stylesheet" href="{% static 'Geet/player.css' %}">
       <link rel="stylesheet" href="{% static 'files/post.css' %}">  
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
        
        <div class="navbar">
                <img src = "{% static 'Geet/logo.png' %}" class = "logo">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'accounts:startlistening' %}">Start Listening</a></li>
                    <li><a href="{% url 'accounts:upload' %}">Upload</a></li>
                    <li><a href="{% url 'community:post' %}">Community</a></li>
                    {% if not user.is_authenticated %}
                    <li class = "dropdown"><button class="dropbtn">Connect</button>
                        <div class = "dropdown-content">
                            <a href="{% url 'accounts:login'%}">Log In</a>
                            <a href="{% url 'accounts:signup'%}">Sign Up</a>
  
                    </li> 
                    {% endif %}
                <li class = "dropdown1">
                    {% if user.is_authenticated %}
                    {% comment %} <img src = "{% static 'Geet/Profile.png' %}" class = "Userimage"> {% endcomment %}
                    <button onclick="myFunction()" class="dropbtn1">Hello, {{request.user}}</button>
                    <div id="myDropdown" class = "dropdown-content1">
                          <a  class="logout" href="{% url 'logout' %}">Logout</a>
                          <a class="dropdown-item" href="/accounts/listenlater/">Listen Later</a>
                          <a class="dropdown-item" href="/accounts/history/">Music History</a>
                          <a class="channel" href="{% url 'accounts:channel' %}">Your Channel</a>

                    </div>

                    {% endif %}


                </li>
                </ul>
            </div>
 {% block content %}

 {% endblock %}
           
    <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
            if (!event.target.matches('.dropbtn1')) {
                var dropdowns = document.getElementsByClassName("dropdown-content1");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
                }
            }
            }
    </script>
</html>