{% extends "accounts/base.html" %}

{%  block content %}

  <body>
     <div class="container3">
            <div class="heading">Listen Later</div>
                
            <div class="music-container">
                {% if song|length < 1 %}
                  <h1>Listen Later is Empty.</h1>
                  {% endif %}

                  {% for i in song reversed %}
        <div class = "box">
          <a href="/accounts/startlistening/{{i.song_id}}" ><buttons class="textOverImage" style="background-image:url({{i.image.url}})"
            data-title="{{i.song_name}}" data-text="{{i.singer_name}} "></buttons></a>
        {% endfor %}
        </div>
     </div>
        <script>
            function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
            }

            window.onclick = function(event) {
            if (!event.target.matches('.dropbtn1')) {
                var dropdowns = document.getElementsByClassName("dropdown-content1");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
                }
            }
            }
    </script>
    

  {% endblock %}