{% extends 'accounts/base.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div style = "padding: 15px;" class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
			<div style="padding-top: 15px" class = "input-field">
                    <label>Email</label>
                    <input style="height:30px; width:200px; margin-left: 10px;" type="email" class ="input" name="email" placeholder="Enter your Email">
                </div>      
            <button style="height:30px; width:150px;" class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div> 

{% endblock %}