{% extends 'accounts/base.html' %}
{% block content %}
{% load static %}
{% if message %}
<script>

 Swal.fire({
     position: 'top-end',
     icon: 'success',
     title: '{{message}}',
     showConfirmButton: false,
     timer: 1500
 }) 
</script>
{% endif %}

<div class="whole">
  <div class="main">
  	<p id="logo"><i class="fa fa-music"></i>Music</p>
 
     <div class="left">
      <img id="track_image" src = "{{song.image.url}}">
         <div class="volume">
            <p id="volume_show">90</p>
            <i class="fa fa-volume-up" aria-hidden="true" id="volume_icon"></i>
            <input type="range" min="0" max="100" value="90" onchange="volume_change()" id="volume">  
         </div>

     </div>
 

  	 <div class="right">

      <p id="title">{{song.song_name}}</p>
      <p id="artist">{{song.singer_name}}</p>
   
  	 	<div class="middle">
  	       <button onclick="previous_song()" id="pre"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
      	   <button id="ppicon"><i class="fa fa-play" aria-hidden="true"></i></button>
  	       <button onclick="next_song()" id="next"><a href="/accounts/startlistening/{{song.song_id}}/"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
  	   </div>


        <div class="duration">
           <input type="range" min="0" max="100" value="0" id="duration_slider" onchange="change_duration()" >
        </div>
           <button id="auto" onclick="autoplay_switch()">Auto play <i class="fa fa-circle-o-notch" aria-hidden="true"></i></button>
           <div>
              {% if user.is_authenticated %} 
            <form action="/accounts/listenlater/" method="POST">{% csrf_token %}
                <input type="hidden" name="later_id" value="{{song.song_id}}">
                <button type="submit" class="listenlater" style="margin-left: 2%;">Add to Listen Later</button>
                <button type="submit" class="sharing" style="margin-left: 2%;"><a href="/community/post/create/">Share</a></button>
                <button type="submit" class="listenlater" style="margin-left: 2%;">Share</button>
             </form>  
             {% endif %}
           </div>
           
  	</div>

  </div>
</div>   
  <audio id = "mysong" metadata>
   <source src = "{{song.song.url}}" type = "audio/mp3">
   </audio>

<script>
let recent_volume= document.querySelector('#volume');
let slider = document.querySelector('#duration_slider');
let mysong = document.querySelector('#mysong');
var ppicon = document.getElementById('ppicon');
var volume_icon = document.getElementById('volume_icon');
timer = setInterval(range_slider ,1000);



    ppicon.onclick = function()
   {
     if(mysong.paused)
     {
        mysong.play();
        ppicon.innerHTML = '<i class="fa fa-pause" aria-hidden="true"></i>';
     }
     else{
        mysong.pause();
        ppicon.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>';
     }
   } 

   volume_icon.onclick = function()
   {
      mysong.volume = 0;
	   volume.value = 0;
	   volume_show.innerHTML = 0;
   }

   function volume_change(){
	   volume_show.innerHTML = recent_volume.value;
	   mysong.volume = recent_volume.value / 100; 
      
   }
    
    function change_duration(){
      mysong.currentTime = mysong.duration * (slider.value / 100);
      console.log(mysong.duration * (slider.value / 100));
      console.log(mysong.currentTime);
   } 

   function range_slider(){
	let position = 0;
        
		if(!isNaN(mysong.duration)){
		   slider_position = mysong.currentTime * (100 / mysong.duration);
		   slider.value =  slider_position;
        
	      }     

      if(mysong.ended){
       	 play.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>'; 
      }
     }

   
</script>

{% endblock %}