{% extends "accounts/base.html" %}
{% load static %}
{%  block content %}

        <div class="heading">Start Listening</div>
     <div class="container3">
            

        {% for i in song reversed %}
        <div class = "box">
        {%if user.is_authenticated%}
        <form action="/accounts/history/" method="POST">{% csrf_token %}
            <input type="hidden" name="music_id" value={{i.song_id}}>
            <a href="/accounts/startlistening/{{i.song_id}}" ><buttons class="textOverImage" style="background-image:url({{i.image.url}})"
                data-title="{{i.song_name}}" data-text="{{i.singer_name}} "></buttons></a>
        </form>
        {%else%}
        <a href="/accounts/startlistening/{{i.song_id}}" ><buttons class="textOverImage" style="background-image:url({{i.image.url}})"
            data-title="{{i.song_name}}" data-text="{{i.singer_name}} "></buttons></a>
        {%endif%}
        {% endfor %}
        </div>
     </div>
        <script>
            function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
            }

            window.onclick = function(event) {
            if (!event.target.matches('.dropbtn1')) {
                var dropdowns = document.getElementsByClassName("dropdown-content1");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
                }
            }
            }
    </script>
    

  {% endblock %}