
.post_title{ 
    color:#00abff;
    text-decoration:none; 
}

.parent {
    width: 99%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40px repeat(2, 1fr) 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  
.right_side {
    grid-area: 1 / 1 / 2 / 2; 
    /* background-color: aquamarine; */
    padding-left: 10px;
    text-align: center;
}

.left_side{
    grid-area: 1 / 2 / 2 / 3; 
    /* background-color: cornflowerblue; */
    text-align: center;
}

.sidefeed{
    grid-area: 2 / 2 / 5 / 3; 
    background-color: #aee6ddbe;
}

.user_posts{
    grid-area: 2 / 1 / 4 / 2; 
    /* background-color: darkkhaki; */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    text-align: justify;
    background-color: #aee6ddbe;
}

.user_posts h2{
    padding-top: 20px;
}

.divv4 { 
    grid-area: 4 / 1 / 5 / 2; 
    /* background-color: aqua; */
    padding-left: 10px;
}

.divv4 .newpost{
    text-decoration: none;
}

.user_posts_inside{
    width: 60%;
    padding-left: 20px;
    padding-top: 100px;
    position: absolute;
}


h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
}

h2 {
    font-weight:normal;
}
.date { 
    color:rgb(189, 110, 110);
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}


.pagination { 
    margin:40px 0; 
    font-weight:bold;

}

