
.post_title{ 
    color:#00abff;
    text-decoration:none; 
}

.whole {
    float: left;
  }
  
.right_side {
    width: 60%;
    position: relative;
    bottom: 300px;
    padding-left: 10px;
}

.left_side{
    padding-left: 120px;
    width: 30%;
    position: relative;
    bottom: 300px;  
}



.sidefeed{
        position: absolute;
        left: 980px;
        top: 180px; 
        right: 20px;
}

.user_posts{
      width: 60%;
      padding-left: 20px;
      padding-top: 80px;
      position: absolute;
      
}

.user_posts_inside{
    width: 60%;
    padding-left: 20px;
    padding-top: 100px;
    position: absolute;
}



h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}
.date { 
    color:rgb(189, 110, 110);
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;

}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}