{% extends 'community/base.html' %}
{% block title %}My Post {% endblock %}

{% block content %}
<div class = "parent">
            <div class = "right_side">
            <h1>My Music Post</h1>
            
            </div>

            <div class = "left_side">
                <h1>Side Feed<h1>
            </div>
   
    <div class = "user_posts">
                {% for post in posts %}
                <h2>
                    <a class = "post_title" href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="date">
                    Published {{ post.publish }} by {{ post.author }}
                </p>
                
                {{ post.body|truncatewords:35|linebreaksbr }}
                
                {% endfor %}
            
    </div>

            <div class="sidefeed">
                <p>here goes sidefeed content</p>
            </div>

            <div class = "divv4">
                {% include 'community/pagination.html' with page=posts %}
                <div class="createown">
                    <label>Create your own post </label>
                    <button type="submit" ><a class="newpost" href="{% url 'community:create-post' %}">Add post</a></button>
                </div>
            </div>

            

</div>



{% endblock %}
