{% extends 'community/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% load markdown_deux_tags %}
{% load posts_tags %}
{% block content %}



<div class="parent1">
    <div class="div1" style = "color:#00abff;"> 
        <h1>{{ post.title }}</h1>
    </div>

    <div class="div2">
        <h1>Side Feed<h1>
    </div>

    <div class="div3"> 
        <p>here will be sidefeed content</p>
        <p>There are total {% total_post %} posts so far.</p>
        <h3>Latest posts</h3>
        {% show_latest_posts 3 %}

        <h3>most commented posts</h3>
        {% get_most_commented_posts as most_commented_post %}
        <ul>
            {% for post in most_commented_post %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>


    <div class="div4"> 
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>

        {{ post.body|markdown }}  
        
        </p>

    </div>

{% if post.author == user %}
    <div class="div5"> 
        <button type="submit"><a href="{% url 'community:update-post' post.id %}">Update</a></button>
    </div>

    <div class="div6"> 
        <button type="submit"><a href="{% url 'community:post-delete' post.id %}">Delete</a></button>
    </div>
{% endif %}

    <div class="div7"> 
        <p><button type="submit" href="{% url 'community:post_share' post.id %}">share</button>
    </div>
    <div class="div8"> 
        <h2>Similar Posts</h2>
        {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
        {% empty %}
        There are no similar posts yet.
        {% endfor %}
        {% for comment in comments %}

        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.user }} - {{ comment.created_at }}
        </p>
        {{ comment.body|markdown }}

        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %}

        {% if new_comment %}
        <h2>Your Comment has been added</h2>
        {% else %}
   

        {% if user.is_authenticated %}
       <div class = "mainbox">
                 <h2>Add a new Comment</h2>
            <form method="post">
                {% csrf_token %}
            <div class = "form">
                <div class = "input-field">
                    <label>Email</label>
                    <input style="height:30px; width:200px;" type="email" class ="input" name="email" placeholder="Enter your Email">
                </div>

                <div class = "input-field">
                    <label>Comment</label>
                    <textarea style="resize: none; height:100px; width:200px;" type="text" class ="input" name="body" placeholder="Enter your comment"></textarea>
                </div>

                <div class="input-field">
                    <button type="submit" class="btn">Add comment</button>
                </div>
                
            </div>
            
            </form>
       </div>
        {% else %}

        <p class="text-center">
        Only registered users can post comments. Please,
        <a href="{% url 'accounts:login' %}">login</a>.
        </p>
        {% endif %}

        {% endif %}
    </div>

</div>

{% endblock %}